@charset "UTF-8";
@font-face{
	font-family:'FonteLogo' ;
	src:url("../font/bubblegum-sans-regular.otf");
}
*{
	margin: 0;
	padding: 0;
}

a#AbrirMenu,a#FecharMenu{
	display: none;
}

/*Navbar*/
header{
	background-color:   #ffca00;
	position: absolute;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
	margin: 0 auto;
	top: 0;
	height: 95px;
	width: 100%;  /* 1366px; */

}
h1,h2{
	font-size: 1.7375em;/* 31/16 */
}
header>h1{
	padding-top: 2.1961%;  /* 30/1366 */
	padding-left: 1.4641%;/* 20/1366 */
	
}
.menu-opcoes{
	
	margin-right: 2.9282%; /* 40/1366 */
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	
	
}

.menu-opcoes ul li{
	display: inline;
	
	float: right;
	/* height:  60px; */
	text-align: center;
	padding: 1.3%;
	margin-top: 40px;

}

.menu-opcoes ul li:hover{
	background-color: #2e2f2a;
	color: #ffca00;
}
.menu-opcoes ul li:hover a{
	
	color: #ffca00;
}

a{
	text-decoration:none;
	font-weight: bold;
	letter-spacing: 1.5px;
	font-size: 1em;/*20px*/
}
a:link{
	color: #fff;
}
a:visited{
	color: #2e2f2a;
}
a:hover{
	color: #ffca00;
}

/*FIM NAVBAR*/



/*BODY*/
body{

	background-color: #fff;
	font-family: Arial,sans-serif;	

}
p{
	font-size: 1.1em;/* 20/16 */
	color:#fff;
	/*text-indent: 50px;*/
	text-align:center;
}
 h1{

	font-family: 'Gill Sans', sans-serif;
	color: black;
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 10px;
	letter-spacing: 1px;


}
.amarelo{
	color: #ffca00;
}
.container{
	margin: 0 auto;
	width: 87.8477%/* 1200px */

}
button,input[type=submit],input[type=reset]{
	cursor: pointer;
}
/*FIM BODY*/

/*CONTEÚDO*/

div.container{
	margin-top: 135px;
}

section.row article{
	text-align: center;
	vertical-align: top;
	display: inline-block;
	width: 100%;
	height: 150px;
	padding-top: 30px;
	margin-top: 100px;
	background-color: #22231d;
	color:  #8a8888;
	margin-bottom: -100px;

}

section.row article p{
	color: #8a8888;
	font-size: 1.1em;
}



 div.container form div.linha{
	padding-bottom: 20px;
	text-align: center;
}
div.container form div.coluna{
	/*text-align: center;*/
	vertical-align: top;
	display: inline-block;
	width: 45%;/* 550/1200px */
	height: 700px;
	margin: 10px;
	background-color: #22231d;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	border-radius: 15px;
	font-size: 0.9em;
	text-align: left;
	
	color: #fff;

}
div.container form div.coluna fieldset.maior{
	
	height: 450px;
}
div.container form div.coluna fieldset.menor{
	
	height: 155px;
}




div.container form div.coluna fieldset{
	width: 87%;/* 480/550 */
	height: 93%;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 10.41%;/* 50px */
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
}
div.container form div.coluna fieldset legend{
	text-transform: uppercase;
	color: #ffca00;
}
div.container form div.coluna p{
	color: #fff;
	text-align: left;
	/*text-indent: 20px;*/
	font-size: 1em;

}
div.container form div.coluna input[type="text"],input[type="email"]{
	width: 93.7%;/* 450/480 */
	height: 40px;
	background-color: #13140f;
	border: 2px solid #13140f;
	font-size: 1em;
	color:#fff;
	text-indent: 4.4%;/* 20/450 */
	/*margin-bottom: 15px;*/
	
}
div.container form div.coluna input[type="date"]{
	background-color: #13140f;
	color:#fff;
	border: 2px solid #13140f; 	
	height: 40px;
}
div.container form div.coluna textarea{
	width: 93.7%;/* 450/480 */
	height: 200px;
	background-color: #13140f;
	border: 2px solid #13140f;
	font-size: 17px;
	color:#fff;
	resize: none;
	text-align: left;
	
	
}

div.container form div.coluna input[type="number"],select{
	height:40px;
	
	background-color: #13140f;
	border: 2px solid #13140f;
	font-size: 17px;
	color:#fff;
	
	
}


div.container form div.coluna input[type="text"]:hover,input[type="email"]:hover{
	
	border: 2px solid #ffca00;
}

div.container form div.coluna input[type="submit"]{
	margin-top: 20px;
	padding: 10px;
	background-color: #ffca00;
	text-align: center;
	border-radius: 25px;
	border: 2px solid #ffca00;
	font-size: 1.25em;
	font-weight: bold;
}
 div.container form div.coluna input[type="submit"]:hover{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	border: 2px solid #ffca00; 
	transition:background-color 1s;
	color:#ffca00;
}
 div.container form div.coluna input[type="reset"]{
	margin-top: 20px;
	margin-left: 10px;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	border-radius: 25px;
	border: 2px solid #ffca00;
	font-size: 1.25em;
	font-weight: bold;
	color: #ffca00;
}

div.container form div.coluna input[type="reset"]:hover{
	background-color: #ffca00;
	text-align: center;
	border: 2px solid #ffca00; 
	transition:background-color 1s;
	color: black;
	
}

/*FIM CONTEÚDO*/



/* MULTIMEDIA */
section.linha{
	text-align: center;
	background-color: #13140f;
	padding-top: 70px;
	padding-bottom: 50px;
	
}

section.linha h1{
	
	color: white;
	margin-bottom: 5px;
	letter-spacing: 1px;

}
h2{
	font-family: 'Gill Sans', sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	letter-spacing: 1px;

}

section.linha p{
	color: #8a8888;
	padding-left: 20px;
	text-align: left;
}

section.linha a{
	color: #8a8888;
	font-size: 1.1em;
	text-decoration: underline;
	font-weight: normal;
}
section.linha article{
	text-align: center;
	vertical-align: top;
	display: inline-block;
	width: 28%;/* 370/1200 */
	height: 400px;
	margin: 10px;
	margin-bottom: 0;
	background-color: #22231d;
	color:  #8a8888;
	box-shadow: 5px 20px 15px rgba(0,0,0,0.5);
	border-radius: 15px;

}

section.linha article>video{
	text-align: center;
	width: 90%;
	height: 70%;
}

/* FIM MULTIMEDIA */

/*FOOTER*/
footer{
	background-color: #ffca00;
	padding-top: 0;/* 20/1200px */
	margin-top: -135px;/* 30/1200px */
	
}

footer div.linha{
	padding-bottom: 1.666%;/* 20/1200px */
	text-align: center;
}
footer div.coluna{
	text-align: center;
	vertical-align: top;
	display: inline-block;
	width: 45.8%;/* 550/1200px */
	height: 290px;/* 285/1200px */
	margin: 1.5%;/* 10/1200px */
	background-color: #22231d;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	border-radius: 15px;

}
footer div.coluna.um{

	height:160px;/* 160/1200px */
	margin-bottom: -0.833%;/* 10/1200px */
	
}
footer div.coluna h2{

		padding-top: 0.833%;/* 10/1200px */
		float: left;
		text-align: center;
		color: #fff;
	
}
footer div.coluna img{
		padding-top: 0.5%;/* 6/1200px */
		padding-left: 15%;/* 180/1200px */
		display: inline-block;
		float: left;
	
}


footer div.coluna ul li{
	list-style: none;
	
}
footer div.coluna a{
	font-size: 1.1em;
}
footer div.coluna a:visited{
	color: #8a8888;
	
	text-decoration: underline;
	font-weight: normal;
}
footer div.coluna a:hover{
	color: #ffca00;
}
footer div.coluna p{
	color: #fff;
	text-align: left;
	text-indent: 20px;

}
footer div.coluna form{
	font-size: 0.9375em;
	text-align: left;
	padding-left: 9.0909%;/* 50/550px */
	color: #fff;
}
footer div.coluna input[type="text"],input[type="email"]{
	width: 81.8181%;/* 450/550px */
	height: 40px;
	background-color: #13140f;
	border: 2px solid #13140f;
	font-size: 1.062em;
	color:#fff;
	text-indent: 20px;
	
}

footer div.coluna input[type="text"]:hover,input[type="email"]:hover{
	
	border: 2px solid #ffca00;
}


footer div.coluna input[type="submit"]{
	margin-top: 20px;
	padding: 10px;
	background-color: #ffca00;
	text-align: center;
	border-radius: 25px;
	border: 2px solid #ffca00;
	font-size: 1.1em;
	font-weight: bold;
}
footer div.coluna input[type="submit"]:hover{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	border: 2px solid #ffca00; 
	transition:background-color 1s;
	color:#ffca00;
}
footer div.coluna input[type="reset"]{
	margin-top: 3.6363;/* 20/550px */
	margin-left: 1.8181;/* 10/550px */
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	border-radius: 25px;
	border: 2px solid #ffca00;
	font-size: 1.1em;
	font-weight: bold;
	color: #ffca00;
}

footer div.coluna input[type="reset"]:hover{
	background-color: #ffca00;
	text-align: center;
	border: 2px solid #ffca00; 
	transition:background-color 1s;
	color: black;
	
}

footer div.coluna.follow a{
	display: inline-block;
	text-indent: -2500px;/* 9999/550px */
	width: 15.9090%;/* 60/550px */
	height: 65px;	
}
footer div.coluna.follow a[href*="facebook.com"]{
	background-image: url("../img/facebook.png") ;
	background-repeat: no-repeat;


}
footer div.coluna.follow a[href*="instagram.com"]{
	background-image: url("../img/instagram.png");
	background-repeat: no-repeat;
}
footer div.coluna.follow a[href*="youtube.com"]{
	background-image: url("../img/youtube.png");
	background-repeat: no-repeat;
}

footer div.coluna.follow a[href*="github.com"]{
	background-image: url("../img/github.png");
	background-repeat: no-repeat;
}
/*FIM FOOTER*/

/* MOBILE */

/* Mobile layout  */

@media only screen and (max-width:479px){

	header{
		height: 75px;
	}

	div.banner{
		margin-top: 75px;
	}
	/* Inicio botão de menu */
	 a#AbrirMenu,a#FecharMenu{
	
		text-indent: -1818%;/* 9999/550px */
		width: 14.9090%;/* 60/550px */
		height: 60px;	
		float: right;
		margin-right: 1.7320%;
		display: block;
	}
	 

	a#AbrirMenu{
		position: absolute;
		top: 0;
		right: 50px;
		background-image: url("../img/pull_down.png") ;
		background-repeat: no-repeat;
	}
	a#FecharMenu{
		position: absolute;
		top: 0;
		right: 0;
		background-image: url("../img/pull_up.png") ;
		background-repeat: no-repeat;
	}

	/* Fim botão de menu */

	/* Navbar */

	
	nav.menu-opcoes{
		display: none;
	}
	nav.menu-opcoes{
	
		position: absolute;
		top: 75px;
		right: 0px;
		height: 97px;
		width: 100%;
		background-color: #ffca00;
		margin: 0 auto;
		width: 100%;  /* 1366px; */
		
		
		
		
	}
	
	nav.menu-opcoes ul li{
		display: block;
		float: none;
		border-bottom: 2px solid black;
		text-align: left;
		padding: 1.3%;
		margin-top: 2.5px;
	
	
	}
	/* Fim Navbar */

	
	

	/* Seccão de conteudos */
	
	
	
	section.row article{
		text-align: center;
		
		height: 250px;
		padding-top: 30px;
		
		margin-top: 65px;
		
	
	}
	

	
	
	
	 div.container form div.linha{
		padding-bottom: 20px;
		text-align: center;
	}
	div.container form div.coluna{
		/*text-align: center;*/
	
		width: 98%;/* 550/1200px */
		height: 700px;
		margin: 10px auto;
		
		font-size: 0.9em;
		text-align: left;
		
		color: #fff;
	
	}
	
	
	
	
	
	/*FIM CONTEÚDO*/
	
	
	
	/* MULTIMEDIA */
	
	
	section.linha article{
		text-align: center;
		vertical-align: top;
		display: inline-block;
		width: 90%;/* 370/1200 */
		height: 400px;
		margin: 10px auto;
		margin-bottom: 0;
		background-color: #22231d;
		color:  #8a8888;
		box-shadow: 5px 20px 15px rgba(0,0,0,0.5);
		border-radius: 15px;
	
	}
	
	
	
	/* FIM MULTIMEDIA */




	/* Footer */
	footer div.coluna{
		
		display: inline-block;
		width: 90%;/* 300/375 */
		height: 320px;/* 285/1200px */
		margin: 2.5% auto;/* 10/1200px */
		background-color: #22231d;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		border-radius: 15px;
	
	}

	footer div.coluna.um{

		height:240px;/* 160/1200px */
		
		
	}

	footer div.coluna p{
		padding-left: 8px;
	}

	footer div.coluna.follow a{
		
		width: 20.9090%;/* 60/550px */
		height: 60px;	
	}

	/* Fim footer */
}




/* Mobile paisagem */

@media (min-width:479px) and (max-width:800px){
	

	


	/* Seccão de conteudos */
	
	
	
	section.row article{
		text-align: center;
		
		height: 190px;
		padding-top: 30px;
		
		margin-top: 90px;
		
	
	}
	

	
	
	
	 div.container form div.linha{
		padding-bottom: 20px;
		text-align: center;
	}
	div.container form div.coluna{
		/*text-align: center;*/
	
		width: 98%;/* 550/1200px */
		height: 700px;
		margin: 10px auto;
		
		font-size: 0.9em;
		text-align: left;
		
		color: #fff;
	
	}
	
	
	
	
	
	/*FIM CONTEÚDO*/
	
	
	
	/* MULTIMEDIA */
	
	
	section.linha article{
		text-align: center;
		vertical-align: top;
		display: inline-block;
		width: 90%;/* 370/1200 */
		height: 400px;
		margin: 10px auto;
		margin-bottom: 0;
		background-color: #22231d;
		color:  #8a8888;
		box-shadow: 5px 20px 15px rgba(0,0,0,0.5);
		border-radius: 15px;
	
	}
	
	
	
	/* FIM MULTIMEDIA */


	/* Footer */
	footer{
		/* margin-top: -0px; */
		padding-bottom: 570px;
	}
	footer div.coluna{
		
		display: inline-block;
		width: 45%;/* 300/375 */
		float: left;
		height: 320px;/* 285/1200px */
		margin: 2.5% auto;/* 10/1200px */
		margin-left: 15px;
		background-color: #22231d;
		background-size: 100%;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		border-radius: 15px;
	
	}

	footer div.coluna.um{

		height:240px;/* 160/1200px */
		
		
	}

	footer div.coluna p,a{
		padding-left: 8px;
		font-size: 1.1em;
	}
	footer div.coluna h1,h2{
		
		font-size: 1.25em;
	}
	footer div.coluna.follow a{
		
		width: 35.9090%;/* 60/550px */
		height: 60px;	
	}

	/* Fim footer */
}

/* FIM Media para mobile em paisagem e tablet em retrato */
